/* Write some CSS below */
h1 {
	color: #ededeb;
	font-family: Alkalami;
	font: bold;
	font-size: 50px;
}

a {
	color: #f0eded;
	text-decoration: none;
	font-weight: bold;
	background-color: blue;
}

h2 {
	color: #141401;
}

.text-white {
	color: #9c9c95;
}
h3 {
	color: #141401;
}

.banner {
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url('images/future-of-gaming.jpg');
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  text-align: center;
}

.card-white {
  background: white;
  box-shadow: 0 0 16px rgba(0,0,0,0.1);
  border-radius: 4px;
  width: 200px;
  text-align: center;
  padding: 24px;
  margin: 8px;
}

.card-white img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

.card-white h3 {
  margin-bottom: 0;
}

#footer {
  background: #404042;
  text-align: center;
  padding: 24px 0;
}

#footer p {
  color: white;
}

.banner p {
  color: white;
  font-size: 24px;
}
.container {
  width: 800px;
  margin: auto;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}